
.box{
  background-color:#00c940;
  width:100%;
  height:100px;
}
.logo{
  width:100px;
  height:50px;
  margin-left:300px;
  margin-top:25px;
}

.batang{
  width:100%;

}
body{
  background-color: #b7f0d2;
}
.login{
    margin-left:300px;
    font-size:20px;
    text-decoration: none;
    color:#FFC93C;
    font-weight:600;
}
.make{
    margin-left:40px;
    font-size:20px;
    text-decoration: none;
    color:#FFC93C;
    font-weight:600;
}
.post{
    font-size:20px;
    text-decoration: none;
    color:#FFC93C;
    margin-left:40px;
    font-weight:600;
}
.Home {
  margin-left:300px;
  font-size:20px;
  text-decoration: none;
  color:#FFC93C;
  font-weight:600;
}